<h1>Angular Trivia</h1>

<div *ngIf="currentQuestion">
  <h3>{{currentQuestion.question}}</h3>
  <ol>
    <li *ngFor="let option of currentQuestion.options">
      <button 
        (click)="checkAnswer($event.target, option.isCorrect)"
        [disabled]="!!answerMessage"
        >{{ option.answer }}</button>
    </li>
  </ol>
  <ng-container *ngIf="answerMessage">
    <h4>Your answer is: {{ answerMessage }}</h4>
  </ng-container>

</div>
<div>
  <h2>Game Over</h2>
  <h3>Your score is: {{ finalScore }}</h3>
</div>
